<h1>Welcome</h1>
<h3>Newest posts</h3>
<% @posts.each do |post| %>
  <div class="row">
    <div class="col sm-4">
      <div class="card">
        <div class="card-block">
        <%= post.title %>
        <%= link_to post.title, post_path(post) %>
        <% if post.user_id == current_user.id %>
          <p><%= link_to "Edit", edit_post_path(post) %></p>
          <p><%= link_to "Delete", post_path(post),
            :data => {:confirm => "You sure?",
            :method => "delete"} %>
          </p>
        <% end %>
        </div>
      </div>
    </div>
  </div><br>
<% end %>

<p><%= link_to "Add A Question", new_post_path %></p>
